.create-room-box-container > .ant-modal {
  top: 50px;
}
.create-room-box-container > .ant-modal > .ant-modal-content > .ant-modal-header {
  border-bottom: none;
  padding: 16px;
}
.create-room-box-container > .ant-modal > .ant-modal-content > .ant-modal-body {
  padding: 0 16px;
}
.create-room-box-container > .ant-modal > .ant-modal-content > .ant-modal-footer {
  border-top: none;
}
.create-room-modal-menu-item {
  margin-top: 2px;
  margin-right: -11px;
}
.peer-select {
  line-height: 40px;
  border-bottom: 1px solid #ececec;
  flex: 1;
  margin-right: 20px;
}
.flex {
  display: flex;
  align-items: flex-end;
}
.userList-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.userlist-left {
  display: flex;
  align-items: center;
}
.nickname {
  margin-left: 10px;
}
